body{
font-family: Arial;
margin:0;
background:#f4f6f9;
text-align:center;
}

header{
background:#1e3a8a;
color:white;
padding:20px;
}

nav{
background:#111;
padding:10px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:yellow;
}

.hero{
padding:30px;
}

button{
background:#2563eb;
color:white;
padding:12px 20px;
border:none;
border-radius:5px;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#1e40af;
}

table{
margin:auto;
border-collapse:collapse;
width:70%;
background:white;
}

th,td{
border:1px solid #ccc;
padding:10px;
}

th{
background:#2563eb;
color:white;
}

form{
width:300px;
margin:auto;
display:flex;
flex-direction:column;
gap:10px;
}

input,select,textarea{
padding:8px;
border:1px solid #ccc;
border-radius:4px;
}

footer{
margin-top:40px;
background:#111;
color:white;
padding:10px;
}